@model Int32

<div class="row no-gutters m-3">
  <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
    <div class="card-header text-center bg-primary">
      <h1>Your quote is:</h1>
    </div>
    <div class="card-body">
      <h4 class="text-center">$@Model.00 per month!</h4> 
    </div>
  </div>
</div>

